target
/generated
/.idea
# /.vscode
/.cache
/cmake-build-*
/.env
*.dot
*.pdf
out.md
perf.data*
flamegraph.svg
/build
fusesoc.conf
##
examples/fixtures/larger_designs/json/openpiton_chip.json
examples/fixtures/larger_designs/json/openpiton_chip_full.json
