target
/generated
/.idea
# /.vscode
/.cache
/cmake-build-*
/.env
*.dot
*.pdf
out.md
perf.data*
flamegraph.svg
/build
fusesoc.conf
obj_dir/
*.vcd
/bin/
##
**/openpiton_*.json
examples/fixtures/larger_designs/json/*/*.json
examples/fixtures/larger_designs/verilog/*/*.v
